body,
html {
    margin: 0;
    height: 100%;
}

.newitemcontainer {
    width: 5vw;
    border-right: 1.5px solid black;
    height: 92vh;
    transition: 300ms width cubic-bezier(0.4, 0.0, 0.2, 1);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: white;
}

.newitemcontainer.expanded {
    width: 45vw;
}

.fab {
    float: left;
    z-index: 1;
    position: relative;
    width: 5vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fab_action {
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.fab_action_bttn {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin-bottom: 2vh;
    border: 1px black solid;
    text-align: center;
    line-height: 3vw;
    cursor: pointer;
}

.fab_action_bttn:hover {
    background-color: rgb(216, 216, 216);
}

.fab_action_bttn.selected {
    background-color: rgb(110, 110, 110);
}

.fab_interact {
    display: flex;
    flex-direction: row;
    padding: 1vw;
    transition: 300ms margin cubic-bezier(0.4, 0.0, 0.2, 1);
    width: 3vw;
}

.fab_interact.middle {
    margin-left: 21vw;
}

.fab_interact_bttn {
    line-height: 3vw;
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vw;
    color: white;
    cursor: pointer;
    user-select: none;
    transition: 150ms transform cubic-bezier(0.4, 0.0, 0.2, 1);
    background-color: grey;
}

.fab_interact_bttn.rotate {
    transform: rotate(45deg);
}

.fab_interact_bttn:hover {
    background-color: rgb(55, 55, 255);
}

.fab_interact_bttn:active {
    background-color: rgb(0, 0, 155);
}

.newitem {
    width: 40vw;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 1vw;
}

.timedisplay {
    font-family: 'Major Mono Display', monospace;
}

.days {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.days div {
    margin-right: 1em;
}