@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.header {
    background-color: #3F51B5;
    width: 100vw;
    height: 6vh;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.programme_name {
    color: white;
    font-size: 1.4em;
}

.header_icon {
    color: white;
    margin-right: 4vh;
    margin-left: 4vh;
    padding: 0.2em;
    border-radius: 50%;
    cursor: pointer;
}

.header_icon:hover {
    background-color: lightgray;
    color: black;
}
.header_icon:active {
    background-color: gray;
    color: black;
}

.content {
    display: grid;
    width: 100vw;
    height: 94vh;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 86vh 8vh;
    grid-template-areas:
        "overview details"
        "addbttn details";
}

.overview {
    grid-column: overview / overview;
    grid-row: 1 / 1;
}

.add_bttn {
    background-color: #3F51B5;
    grid-column: overview / overview;
    grid-row: 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    font-weight: 100;
    cursor: pointer;
    border-top: black 1px solid;
}

.details {
    border-left: black 1px solid;
    grid-column: details / details;
    grid-row: span 2;
}

.list_separator {
    display: flex;
    align-items: center;
    width: 49vw;
    padding-left: 1vw;
    height: 5vh;
    background-color: gray;
    font-weight: 700;
}

.list_item {
    display: grid;
    grid-template-columns: 2.5em calc(50vw - 2.5em);
    grid-template-rows: 60% 40%;
    grid-template-areas:
    "icon maintext"
    "icon subtext";
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: black solid 1px;
}

.list_item_icon {
    grid-column: icon / icon;
    grid-row: span 2;
    width: 100%;
    font-size: 2.5em;
    align-self: stretch;
    border-right: 1px solid gray;
}

.maintext_listitem {
    margin-left: 2vw;
    font-weight: 400;
    font-size: 1.2em;
}

.subtext_listitem {
    margin-left: 2vw;
    font-weight: 300;
    font-size: 1em;
}

.details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
}

.date-picker {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    margin-top: 2vh;
}

.date-picker-item {
    border-radius: 50%;
    border: black 1px solid;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    text-align: center;
    line-height: 1em;
    position: relative;
    float: left;    
    margin-left: 1vw;
    align-items: center;
    flex-direction: column;
}

.details-content > * {
    margin-top: 2vh;
}

.maintext {
    font-weight: bold;
    font-size: 1.5em;
}

.circle-selector {
    display: flex;
    align-items: center;
}

.circle-select {
    border: 1px solid black;
    border-radius: 50%;
    font-size: 1.5em;
    width: 1.7em;
    height: 1.7em;
    text-align: center;
    line-height: 1.7em;
    margin-right: 1vw;
}

.circle-select-selected {
    background-color: gray;
}

.button_confirm {
    background-color: #3F51B5;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    cursor: pointer;
    border: 1px solid black;
}

.button_confirm:hover {
    background-color: gray;
}

.button_confirm:active {
    background-color: white;
    color: black;
}