.programme_list {
    width: 100vw;
    height: 94vh;
}

.sep_fw {
    width: 100%;
}

.programme_list_entry {
    width: 100%;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.programme_list_entry_border {
    border-bottom: 1px solid black;
}
.entry_left {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.entry_right {
    height: 100%;
    margin-right: 4vw;
    display: flex;
}

.programme_name_l {
    color: black;
    font-size: 2em;
    margin-bottom: 0.2em;
}

.programme_entry_bttn {
    height: 2.5em;
    margin-left: 2vw;
    cursor: pointer;
}