.menu {
    display: flex;
    align-items: center;
    padding-bottom: 1vh;
}

.header_text {
    font-size: 2em;
    margin-left: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.list {
    width: 93vw;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    z-index: -2;
    float: right;
}

.list_item {
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.4s;
    z-index: 1;
    background-color: #FFF;
    cursor: pointer;
}

.list_item_wicon {
    justify-content: flex-start;
}

.border {
    border-bottom: 1px #393838 solid;
}

.list_item_icon {
    border-radius: 50%;
    margin-right: 2vw;
    justify-self: flex-end;
    padding: 5px;
    cursor: pointer;
}

.list_item_icon:hover {
    background-color: gray;
}

.list_item_icon:active {
    background-color: darkgray;
}

.list_item_icon_nofunc {
    border-radius: 50%;
    font-size: 3.5rem;
    margin-right: 1vw;
    border: 1px black solid;
}

.selected {
    background-color: #4CAF50;
}

.programme_selected {
    color: white;
    font-size: 24px;
    transition: transform 250ms ease-in;
}

.programme {
    font-size: 70px;
    transition: transform 1s ease-in;
}

.list_item_text {
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.list_item_title {
    margin-bottom: 5px;
    font-size: 35px;
}

.list_item_caption {
    font-size: 25px;
    font-weight: 100;
}

.list_item_actions {
    padding-right: 6vw;
    display: flex;
    align-items: center;
}

.list_item_actions_alt {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.red_hover:hover {
    background-color: #C71512;
}

.red_hover:active {
    background-color: #F10A06;
}

.list_item_action {
    margin-left: 3vw;
    font-size: 30px;
}

.expand {
    border: .5px #393838 solid;
    border-radius: 50%;
    margin-left: 5vw;
    font-size: 40px;
}

.select_programme {
    position: absolute;
    width: 100vw;
    height: 125px;
    display: flex;
    justify-content: flex-end;
    z-index: -1;
    border-bottom: .5px #393838 solid;
}

.select_icon {
    height: 100%;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(green, green);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 0%;
    transition: background-size .2s, color .5s;
}

.overlay {
    top: 0;
    left: calc(5vw + 1px);
    position: absolute;
    background-color: #393838;
    opacity: 0.8;
    width: 95vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100vw;
    height: 100%;
    border-bottom: 1px #393838 solid;
}

.full {
    margin-left: 0;
    flex-basis: 100vw;
}

.list_item_more {
    margin-right: 5vw;
    align-self: center;
    font-size: 40px;
}

.subheader {
    margin-left: 3vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 30px;
}

.noborder {
    border-bottom: none;
}

.spinner {
    width: 35%;
    height: 35%;
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
}

.list_item_category_header {
    width: 100%;
    font-size: 2rem;
    margin-left: -2vw;
    border-bottom: 2px black solid;
    padding: 1vw;
}

@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

.no_events {
    display: none;
    height: 92vh;
    justify-content: center;
    align-items: center;
    width: 93vw;
    float: right;
    font-size: 3em;
    font-weight: 100;
}

.list_item_delete_dialog {
    max-height: 0;
    width: calc(100% + 1.5vw);
    background-color: grey;
    margin-left: -2vw;
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    overflow: hidden;
    transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
    padding: 0.5vw;
}

.list_item_delete_dialog i {
    color: white;
    font-size: 3rem;
    margin-right: 1rem;
}

.list_dialog_bttns {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.list_dialog_bttn {
    background-color: lightgrey;
    border: 1px solid darkgrey;
    margin-right: 1vw;
    padding: 0.5vh;
    min-width: 5vw;
    text-align: center;
    color: gray;
    cursor: pointer;
}

.list_dialog_bttn:hover {
    background-color: darkgrey;
}

.list_dialog_bttn:active {
    background-color: rgb(128, 128, 128);
}